body {
  background-color: peachpuff;
}

hr {
  background-color: black;
  border-style: dotted;
  border-color: yellow;
  height: 3px;
  width: auto;
}

img {
  height: 200px;
  width: auto;
}

h1 {
  text-align: center;
}

h1,
h3 {
  color: black;
}

#DP {
  border-radius: 100%;
}
